{% extends "base.html" %}

{% block content %}
<div class="block two-col">
	<div class="header">Most popular timelines</div>
	<div class="content">
		{% with popular as timelines %}
			{% include "timeline_list.html" %}
		{% endwith %}
	</div>
</div>

<div class="block left">
	<div class="header">New timelines</div>
	<div class="content">
		{% with newcreated as timelines %}
			{% include "timeline_list.html" %}
		{% endwith %}
	</div>
</div>

<div class="block right">
	<div class="header">Recently changed timelines</div>
	<div class="content">
		{% with recentupdated as timelines %}
			{% include "timeline_list.html" %}
		{% endwith %}
	</div>
</div>

<div class="block two-col">
	<div class="header">Categories</div>
	<div class="content">
		<ul class="category_list">
			{% for category in categories %}
				<li class="{% cycle 'col1' 'col2' 'col3' %}">
					<a href="/timelines/{{ category.slug }}">{{ category.title }}</a>
				</li>
			{% endfor %}
		</ul>
		<div class="clearfix"></div>
	</div>
</div>

{% endblock %}