{% extends "base.html" %}

{% block content %}
<div class="block two-col">
	<div class="header">[EDIT] {{ timeline.title }}</div>
	<div class="content timeline">
		<div class="intro">
			by <b>{{ timeline.author.username }}</b> on {{ timeline.created }}
		</div>
		<div class="body">{{ timeline.body }}</div>
		<div class="prev_next_nav">
			<a href="/timeline_item/edit/{{ timelineItems.0.slug }}" class="next">{{ timelineItems.0.title }} >></a>
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar_top %}
<div class="block">
	<div class="header">Items</div>
	<div class="content">
		<ul>
			{% for timelineItem in timelineItems %}
				<li><a href="/timeline_item/edit/{{ timelineItem.slug }}">{{ timelineItem.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}