{% extends "base.html" %}

{% block content %}
<div class="block two-col">
	<div class="header">[EDIT] {{ timelineItem.title }}</div>
	<div class="content timeline timeline_item">
		<div class="body">
			<form action="/timeline_item/save/{{ timelineItem.slug }}" method="POST">
				<div class="row">
					<label for="timeline_item[title]">Title:</label>
					<input type="text" name="timeline_item[title]" id="timeline_item[title]" value="{{ timelineItem.title }}" />
				</div>
				<div class="row">
					<label for="timeline_item[body]">Body:</label>
					<textarea name="timeline_item[body]" id="timeline_item[body]">{{ timelineItem.body|safe }}</textarea>
				</div>
				<div class="row submit">
					<input class="button" type="button" value="cancel / reset" onclick="window.location.href='/my_timelines';" />
					<input class="button" type="submit" value="save" />
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar_top %}
<div class="block">
	<div class="header">Items</div>
	<div class="content">
		<ul>
			{% for timelineItem in timelineItems %}
				<li><a href="/timeline_item/edit/{{ timelineItem.slug }}">{{ timelineItem.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}